@import "tailwindcss";

@theme {
  /* --- FONTS --- */
  --font-sans: var(--font-openSans);

  /* --- BAKGRUND & KORT --- */
  --color-background: #080b10;
  --color-card: #0e131b;

  /* --- TEXT --- */
  --color-main: #f5f7fa; /* Motsvarar primary-text */
  --color-muted: #626c7b; /* Motsvarar secondary-text */

  /* --- ACCENTER (Primär = Blå/Turkos) --- */
  --color-primary: #179a90;
  --color-primary-hover: #39c2b7;

  /* --- ACCENTER (Sekundär = Orange) --- */
  --color-secondary: #dd6031;
  --color-secondary-hover: #ff7f4e;
}

/* Dessa klasser skrivs ut på följande sätt:

<div className="bg-background">
  <p className="text-main">Text här</p> 
    
</div>*/

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    @apply antialiased;
  }
}
