@import "tailwindcss";

@theme {
 
  --color-background: #080B10;
  --color-card: #0E131B;
  
  --color-primary-text: #F5F7FA;
  --color-secondary-text: #626C7B;
  
  --color-blue-brand: #179A90;
  --color-blue-hover: #39C2B7;
  
  --color-orange-brand: #DD6031;
  --color-orange-hover: #FF7F4E;


  --breakpoint-mobile: 480px;
  --breakpoint-desktop: 1018px;

  
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
}


@layer base {
  body {
   
    @apply bg-background text-primary-text antialiased font-sans;
    
   
    background-color: var(--color-background);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-primary-text;
  }

  p {
    @apply text-primary-text leading-relaxed;
  }
}